body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background: url('../img/backgroundMenu.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 20px;
}

.sidebar h2 {
    color: #ffffff;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #0033a0;
}

.content {
    margin-left: 220px;
    padding: 20px;
}

h1 {
    color: #0057e7;
}

footer {
    background-color: #0057e7;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
